.App {

}

a {
    text-decoration: none;
}

.header {
    min-height: 100vh;
    position: relative;
    background-image: url("../src/Images/1/fon1jpg.jpg");
    background-position: center center;
    background-size: cover;
}


.fon2 {
    background-image: url("../src/Images/1/fon2.jpg");
    height: 90vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    bottom: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.60);
    height: 70px;
}


.navbar-content {
    color: white;
    display: table;
    font-family: Neucha, serif;
    font-size: 22px;
    width: 100%;
    height: 70px;


    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    padding-left: 40px;
    padding-top: 22px;
    border: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.lishka {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.line-vertical {
    display: inline-block;
    margin-left: 8%;
    width: 10%;
    padding-left: 1vh
}

.start {
    margin: 3% auto;
    max-width: 660px;
}

.cloud-sushi {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: content-box;
    margin: 0;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    font-size: 72px;
    line-height: 1.17;
    color: #fff;
    padding: 24px 0 24px 0;
    letter-spacing: 1px;
    font-weight: 600;
}

.start-text {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: content-box;
    margin: 0;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.55;
    color: #fff;
    padding: 15px 0 30px 0;
    opacity: 1;
}

.menu-computer {
    display: inline;
    padding-left: 30px;
}

.menu-phone {
    display: inline;
    margin-right: 10%;
}


@media only screen and (max-width: 768px) {
    .menu-phone {
        display: inline;
        float: right;
        min-width: 150px;
        margin-right: 10%;
    }
    .name {
        top: 4%
    }
}

@media (max-width: 768px) {
    .menu-computer {
        display: none;
    }
}


.dropdown {
    display: none;
}

.dropdown1 {
    z-index: 1;
    text-align: center;
    padding: 10px;
    display: block;
    position: relative;
    right: 40%;
    top: 18px;
    background-color: rgba(26, 26, 26, 0.6);
}

.hits {
    background-color: #ff623b;
    border: none;
    color: white;
    padding: 17px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 30%;
    border-radius: 7px;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-top: 12%;
}

.hits:hover {
    background-color: #fd5429;
}

.arrow {
    top: 30px;
    cursor: pointer;
    position: relative;
    animation: a9 1.5s linear 0s infinite normal forwards;
}

.arrow-svg:hover {
    fill: #d2d0d0;
}

@keyframes a9 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.sale-wrap {
    position: relative;
    width: 400px;
    height: 550px;
    padding: 30px 40px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    overflow: hidden;
}

.sale-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 760px;
    height: 800px;
    background: rgb(240, 96, 96);
    border-radius: 50%;
}

.sale-inner {
    position: relative;
    height: 100%;
    background: linear-gradient(45deg, rgb(240, 96, 96), rgb(243, 181, 96));
    box-shadow: 0 10px 45px rgba(240, 96, 96, 0.3), 0 -10px 45px rgba(240, 96, 96, 0.3);
}

.sale-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    background: white;
    border-bottom-right-radius: 150px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .06);
}

.sale-text {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 40px 10px 0 40px;
    box-sizing: border-box;
}

.sale-text h2 {
    margin: 0 0 5px;
    color: #888888;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
}

.sale-text p {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(240, 96, 96);
}

.sale-text p span {
    font-size: 22px;
    font-weight: normal;
}

.button {
    display: inline-block;
    margin: 20px 0;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(240, 96, 96);
    font-family: 'Comfortaa', cursive;
    text-transform: lowercase;
    font-size: 16px;
    border: 1px solid rgb(240, 96, 96);
}

.sale-text .sale-text-info {
    color: #888888;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    font-weight: normal;
}


.sets {
    border: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: table;

}


.set {
    border: 0;
    display: inline-block;
    margin: 0 20px;
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 30px 0 0;
    font-family: 'Neucha', Arial, sans-serif;
}

.inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.t615__content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
    border: 1px solid #e0e6ed;
    background-color: #ffffff;
    border-radius: 9px;
}

.t615__btn {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'Neucha', Arial, sans-serif;
    border: 0 none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    user-select: none;
    box-sizing: border-box;
    height: 45px;
    font-size: 14px;
    padding: 0 30px;
    margin: 34px 0 0;
    text-decoration: none;
    color: #ffffff;
    background-color: #13ce66;
    -webkit-border-radius: 30px;
}

.why-us {
    margin-left: 20px;
    margin-right: 20px;
    height: 230px;
    max-width: 260px;
    display: inline-block;
    vertical-align: middle;
}

.why-us-text {
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.55;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 300;
}

.menu {
    text-align: center;
    display: inline;
    padding-left: 180px;
    padding-right: 180px;
    width: 100%;
    max-width: 1200px;
}

.menu2 {
    padding-top: 135px;
    padding-bottom: 135px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

.menu2-div {
    display: inline-block;
    margin: 0 20px 40px;
    width: 100%;
    height: 470px;
    max-width: 260px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.menu2-text {
    font-family: 'Neucha', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
}

.menu2-name {

    font-size: 16px;
    line-height: 1.35;
}

.menu2-description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.55;
    display: inline-block
}

.menu2-price {
    margin-top: 12px;
    display: inline-block
}

.menu2-count {
    display: inline-block;
    color: #bdbdbd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
}

.menu2-button {
    margin-top: 19px;
    box-sizing: content-box;
}

.menu2-button-a {
    -webkit-font-smoothing: antialiased;
    font-family: 'Neucha', Arial, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    user-select: none;
    box-sizing: border-box;
    height: 45px;
    font-size: 14px;
    padding: 12px 30px;
    display: inline-block;
    margin: 0 2px 8px;
    text-decoration: none;
    color: #f0f0f0;
    border: 2px solid #000000;
    background-color: #000000;
    -webkit-border-radius: 5px;
}

.t-rec {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
    border: 0;
    padding: 0 0;
    background-color: #ffffff;
}

.t015__title {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 600;
    color: #000;
    line-height: 1.23;
    padding: 8px 0 3px;
    font-size: 72px;
}

.t-width {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    padding: 0;
    border: 0;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.t-text {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    padding: 0;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 300;
    line-height: 1.55;
    margin: 40px auto 0;
    color: #000000;
    font-size: 16px;
}

.t-title {
    -webkit-font-smoothing: antialiased;
    text-align: left;
    box-sizing: content-box;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 600;
    color: #000;
    line-height: 1.23;
    padding: 8px 0 3px;
    font-size: 42px;
    margin: 0 0 14%;
}


.male-shop {
    position: -webkit-sticky;
    position: sticky;
    bottom: 78vh;
    float: right;
    width: 60px;
    height: 60px;
    z-index: 1;
    text-align: center;
    margin-right: 3%;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    will-change: transform;
    transition: transform 0.2s ease-in-out;
}

.animation {
    position: -webkit-sticky;
    position: sticky;
    bottom: 78vh;
    float: right;
    width: 60px;
    height: 60px;
    z-index: 1;
    text-align: center;
    margin-right: 3%;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    animation: pulse 0.6s infinite;
}

.counter {
    background-color: red;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    right: -6px;
    bottom: -6px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.price-all {
    opacity: 0;
    animation: ani 0.8s forwards;
    width: 100px;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.35;
    position: -webkit-sticky;
    position: sticky;
    bottom: 76.8vh;
    margin-right: 1.2%;
    float: right;
    transform: translateX(0%) translateY(-50%);
    white-space: nowrap;
    background: #292929;
    color: #fff;
    font-size: 15px;
    box-sizing: border-box;
    padding: 9px 13px;
    border-radius: 3px;
    transition: opacity 0.3s linear;
    cursor: pointer;
    pointer-events: initial;
}

.price-all::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left-color: #292929;

}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.modal-buy {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 24px;
    line-height: 1.35;
}

.modal-text {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    padding: 0;
    border: 0;
    font-family: 'Neucha', Arial, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 100;
    margin: 20px 0 0;
}


.modal-buy {

}

.modal-text {
    padding-bottom: 30px;
}

.modal-products {
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;

    width: 100%;
}

.modal-product {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    vertical-align: middle;
}

.modal-image {
    display: inline;
}

.modal-name {
    width: 253px;
    font-family: 'Neucha', Arial, sans-serif;
    line-height: 1.55;
    display: inline;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 600;
    vertical-align: middle;
    color: #000;
}

.modal-price {
    width: 102px;
    display: inline;
    font-family: 'Neucha', Arial, sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 18px;
    line-height: 1.55;
}

.modal-cancel {
    display: inline;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    opacity: .4;
    vertical-align: middle;
}

.modal-money {
    font-family: 'Neucha', Arial, sans-serif;
    line-height: 1.55;
    padding: 0 0 20px;
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    color: #000;
    display: block;
}

.modal-info, .modal-info-block {
    margin: 20px 0;
}

.line {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.modal-info-block-input {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: 'Neucha', Arial, sans-serif;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    color: #000000;
    border: 1px solid #000000;
}


